# Supabase Configuration
EXPO_PUBLIC_SUPABASE_URL=https://vsxrrzkfrvrtwvbazkrw.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZzeHJyemtmcnZydHd2YmF6a3J3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYyNjMwMjEsImV4cCI6MjA5MTgzOTAyMX0.pQOWk2Ru50pHC7JVdIMaWGZFkCtd13dL6I_UkMEtlNw

# OpenRouter Configuration (OpenRouter)
EXPO_PUBLIC_OPENROUTER_API_KEY=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
